/* Body y fondo */
body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #6c040f 0%, #220004 20%, #230104 100%);
  background: -webkit-linear-gradient(bottom, #6c040f 0%, #220004 20%, #230104 100%);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

/* Fondo fijo */
.imgFondo {
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top -10vh;
  pointer-events: none;
  z-index: -1;
  opacity: 0.05;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../img/35.png');
}

/* Barra de búsqueda */
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1vh;
  width: 100%;
  margin: 0 auto;
}

.input-search {
  width: 100%;
  padding: 0.5vh 0.5vh 0.5vh 3.5vh;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: white;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  outline: none;
}

.search-icon {
  position: absolute;
  left: 1.5vh;
  color: #666;
  pointer-events: none;
}

/* Imagen de usuario */
.imgUser img {
  height: 3vh;
  width: 3vh;
  border-radius: 15px;
}

.imgH2c img {
  width: 20vh;
  height: 20vh;
}

/* Fecha */
.date {
  color: #fff;
}
.date h5, .date p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}



/* Sección blanca */
.white-content-section {
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 12px 16px;
  margin-top: 20px;
  box-shadow: 0 -5px 15px rgba(0,0,0,0.1);
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 10vh;
}

/* Tarjeta de ticket */
.ticket-item {
  border: none;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  background-color: white;
  margin-bottom: 1rem;
}

.card-body {
  padding: 8px;
  display: flex;
  align-items: stretch;
}

/* Barra de estado */
.ticket-status-bar {
  width: 7px;
  border-radius: 10px;
  flex-shrink: 0;
  margin-left: -10px;
}

/* Contenido del ticket */
.ticket-content {
  flex-grow: 1;
  margin-left: 6px;
  display: flex;
  flex-direction: column;
  color: #220004;
  font-size: 1.3vh;
  font-weight: 400;
  font-family: "Montserrat";
  gap: 0.2rem;
}

.ticket-card span:last-child {
  white-space: nowrap;
}



.ticket-title {
  font-size: 0.9rem;
  font-weight: 450;
  color: #000;
}

.ticket-code {
  font-size: 1rem;
  font-weight: 500;
  color: #929292;
}

.ticket-description {
  color: #333;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.2;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  word-wrap: break-word;
}

.assignedTotxt {
  font-size: 0.75rem;
  font-weight: 400;
  margin-bottom: 0;
}

.assigned-person {
  font-size: 0.75rem;
  font-weight: 500;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}

/* Botón de estado */
.ticket-status-btn {
  border-radius: 10px;
  padding: 1px 6px;
  font-size: 0.6rem;
  font-weight: 450;
  background-color: #FFE297;
  border: 2px solid #FFBA08;
  color: #000 !important;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Fecha con ícono */
.text-muted small {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.75rem;
  color: #6c757d;
  margin-bottom: 0 !important;
}

/* Contenedor del gráfico */
.chargeValue {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Menú inferior */
.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #929292;
  padding: 0.5rem 0;
  background-color: #FBF6F6;
  height: 46.5px;
  z-index: 1000;
}

.menu img {
  height: 18px;
  margin-bottom: 10px;
}

.menu a {
  font-size: 1.5rem;
}

/* Botón de añadir */
.add-btn {
  position: fixed;
  bottom: 7vh;
  right: 3vh;
  border-radius: 50%;
  width: 7vh;
  height: 7vh;
  border: none;
  box-shadow: 0 4px 10px rgba(199, 199, 199, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BC3233;
  color: #fff;
  z-index: 1001;
  transition: transform 0.3s ease;
  
}

.add-btn:hover {
  transform: scale(1.1);
}

.add-btn a {
  text-decoration: none;
  color: #fff;
}
